* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(229, 229, 229);
}

.header {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  color: #E5E5E5;
  text-align: center;
  padding: 10px 0;
}

.header h1 {
  margin: 0;
  font-size: 4rem;
}

.header p {
  font-size: 2.5rem;
}

.contenedor {
  width: 100%;
  height: 800vh;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(179.2deg,
      rgba(34, 34, 34, 1) 0%,
      rgba(8, 0, 153, 1) 59.7%,
      rgba(118, 6, 166, 1) 83.4%,
      rgba(233, 0, 64, 0.58) 100.1%);
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
  font-weight: bold;
  padding: 20px;
  color: #E99401;
}

h2 {
  color: #E99401;
  font-size: 3rem;
}

h3 {
  color: #E99401;
  font-size: 3rem;
}

.contenedor_animacion {
  position: relative;
  height: 785vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nave {
  position: absolute;
  top: 100px;
  width: 350px;
  height: 477px;
  transform: rotate(180deg);
  z-index: 1001;
}

.animacion {
  position: absolute;
  width: 40%;
  height: 40%;
  opacity: 0;
}

.presentacion {
  opacity: 0;
  top: 10vh;
  right: 2%;
}

.presentacion h2 {
  margin-bottom: 20px;
}

.presentacion p {
  margin: 30px auto;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}

.presentacion a {
  color: #E99401;
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 5px;
}

.foto-mia {
  width: 486px;
  height: 375px;
  border-radius: 10%;
}

.sobre-mi {
  opacity: 0;
  width: 600px;
  top: 100vh;
  left: 10%;
  background-image: url("./image/casco.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.sobre-mi h3 {
  font-size: 2.5rem;
  padding: 10px;
  margin-top: -60px;
  margin-bottom: 160px;
  color: #E99401;
}

.logoweb {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-personal {
  width: 32px;
  height: 32px;
}

.sobre-mi p {
  font-size: 1.2rem;
  color: #000;
  font-weight: bold;
  margin-left: 150px;
  width: 55%;
  text-align: left
}

.habilidades {
  opacity: 0;
  width: 400px;
  height: 400px;
  top: 10vh;
  right: -100vw;
}

.lista-habilidades {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.lista-habilidades li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.icono {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.barra-contenedor {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 70%;
  height: 25px;
  margin-left: 15px;
  position: relative;
}

.barra {
  background-color: #E99401;
  height: 100%;
  border-radius: 5px;
}

.porcentaje {
  margin-left: 10px;
  font-size: 2rem;
  color: #E99401;
}

.proyectos {
  opacity: 0;
  width: 100%;
  top: 5vh;
  left: -100vh;
  text-align: start;
}

.proyectos h3 {
  padding-left: 200px;
  margin: 50px 0;
}

.proyectos p {
  margin-top: 20px;
  font-size: 1.5rem;
}

.proyecto a {
  color: #E99401;
  font-size: 2rem;
  text-decoration: none;
}

.proyecto {
  display: flex;
  justify-content: center;
  align-items: normal;
}

.astronauta {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 1));
  margin-top: -150px;
  width: 75%;
}

.contacto {
  width: 100vw;
  background-image: url('./image/luna.webp');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  height: 400px;
  top: 181vh;
}

.contacto h3 {
  margin-top: 50px;
  padding: 20px;
}

.enlaces {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.icono-contacto {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.enlaces div {
  display: flex;
  align-items: center;
}

.enlace-contacto {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 5px;
}

.footer {
  font-size: 1.2rem;
  color: #000;
  padding-top: 20px;
}