@font-face {
  font-family: 'CustomFont';
  src: url('@/assets/fonts/145d7d15e4d79baa-s.p.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomFont';
  src: url('@/assets/fonts/1927f68609cd9595-s.p.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomFont';
  src: url('@/assets/fonts/67cd960e7f9dc604-s.p.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomFontNarrow';
  src: url('@/assets/fonts/7c47f8730b74dd15-s.p.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@view-transition {
  transition: transform 1s ease-in-out;
}

.font-custom {
  font-family: 'CustomFont', sans-serif !important;
}

.text-rosa {
  color: #e6006b !important;
}

.teleborde {

  box-shadow: 10px 10px 8px rgba(230, 0, 107, 0.45);
}